@using Web.Areas.Admin.Models
@using Core.Catalog.Dtos
@using Core.Catalog.Domain

@{
    var categories = ViewData["Categories"] as IEnumerable<Category>;
    var manufacturers = ViewData["Manufacturers"] as IEnumerable<Manufacturer>;
}

@model ProductDto

<div>
    <div class="mb-3">
        <label class="form-label">Product name</label>
        <input name="Name" value="@Model.Name" type="text" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label for="exampleFormControlSelect1" class="form-label">Manufacturer </label>
        <select name="ManufacturerId" class="form-control" id="exampleFormControlSelect1">
            <option value="null">None</option>

            @foreach(var manufacturer in manufacturers)
            {
                <option value="@manufacturer.Id"
                    @if (manufacturer.Id == Model.ManufacturerId)
                    {
                        <text>selected</text>
                    }
                >
                    @manufacturer.Name
                </option>
            }
        </select>
     </div>

    <div class="form-group mb-3">
        <label for="exampleFormControlSelect2" class="form-label">Category</label>
        <select name="CategoryId" class="form-control" id="exampleFormControlSelect2">
            <option value="null">None</option>

            @foreach (var category in categories)
            {
                <option value="@category.Id"
                    @if (category.Id == Model.CategoryId)
                    {
                        <text>selected</text>
                    }
                >
                    @category.Name
                </option>
            }
        </select>
     </div>

    <div class="form-group mb-3">
        <label class="form-label">Price</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" name="Price" value="@Model.Price">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="Description" class="form-control" id="exampleFormControlTextarea1" rows="3">@Model.Description</textarea>
    </div>

    @if(string.IsNullOrEmpty(Model.ThumbnailPath))
    {
        <img src="@Model.ThumbnailPath"/>
    }

    <div class="mb-3">
        <label class="form-label">Picture</label>
        <input name="thumbnail" type="file" class="form-control" />
    </div>

    <div class="mb-3">
        @Html.CheckBoxFor(m => m.IsPublished)
        <label class="form-label">Is published</label>
    </div>

    <br />
    
    <button type="submit" class="btn btn-primary">Save</button>
    <a href='@Url.Action("Index", "Product", new { area = "Admin" })'>
        <button type="button" class="btn btn-dark" >Back</button>
    </a>
</div>
